#Developer-text{
    font-size: 75px;
    font-weight: 600;
}

#introLine{
    float: left;
}

/* ********************************************************* */


#About-Section #About-body>.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 20px;
    border-radius: 10px;
    border: 2px solid;
}
#About-Section #About-body>.content>p{
    margin: 30px;
}

/* ********************************************************* */

#skill-section{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
#skill-section #skill-container-body>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 170px;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 5px 5px 10px #c1c2c4, -5px -5px 10px #c1c2c4;
    transition: all ease 0.3s;
}

#skill-section #skill-container-body>div>img{
    width: 150px;
    padding: 10px;
}

#skill-container-body>div>h5{
    padding-top: 15px;
    padding-bottom: 15px;
}

#skill-section #skill-container-body>div:hover{
    transform: scale(1.08);
}

/* ********************************************************* */

#project-section .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#project-section .card-body a{
    width: 55%;
}
#project-section img{
    width: 28w;
    height: 28vh;
}

#project-section .card{
    box-shadow: 5px 5px 10px #c1c2c4, -5px -5px 10px #c1c2c4;
    transition: all ease 0.3s;
}

#project-section .card:hover{
    transform: scale(1.08);
}


@media screen and (max-width: 1200px) {
    #introLine{
        float: none;
    }
}

@media screen and (max-width: 995px){
    #About-body{
        flex-wrap: wrap;
    }
    #About-body .content{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 376px) {
    #skill-section #skill-container-body>div{
        width: 90px;
    }
    #skill-section #skill-container-body>div>img{
        width: 88px;
    }
    #skill-container-body>div>h5{
        font-size: 13px;
    }
}