#skill-section{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
#skill-container-body>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 230px;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 5px 5px 10px #c1c2c4, -5px -5px 10px #c1c2c4;
}

#skill-container-body>div>img{
    width: 200px;
    padding: 10px;
}

#skill-container-body>div>h5{
    padding-top: 15px;
    padding-bottom: 15px;
}

#project-section .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#project-section .card-body a{
    width: 55%;
}
#project-section img{
    width: 28w;
    height: 210px;
}